div.page.project-details > * {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 700px;
}

div.page.project-details > p {
  margin-bottom: 60px;
  line-height: 30px;
}

div.page.project-details > h1 {
  color: var(--accent);
  margin-bottom: 20px;
  font-size: var(--large-header);
}

div.page.project-details > div.screenshot {
  width: 100%;
  max-width: 820px;
  aspect-ratio: 16/9;
  overflow: hidden;
  position: relative;
  border-radius: 15px;
  border: #222 3px solid;
  margin: 30px auto;
  z-index: 0;
  background: linear-gradient(
      to bottom,
      #0000 0%,
      #0000 25%,
      var(--bg) 85%,
      var(--bg) 100%
    ),
    var(--background);
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: end;
  padding: 30px;
  gap: 30px;
}

div.page.project-details > div.screenshot > div.links {
  margin-top: 2em;
  display: flex;
  gap: 30px;
  margin-left: auto;
  min-width: fit-content;
}

div.page.project-details > div.screenshot h1 {
  font-size: var(--medium-header);
  color: var(--accent) !important;
}

div.page.project-details > div.screenshot p.date {
  opacity: 0.5;
  margin-top: 15px;
}

div.page.project-details > div.screenshot > * {
  z-index: 2000;
  position: relative;
}

div.page.project-details > div.screenshot > div.links a.material-icons-round {
  width: 50px;
  height: 50px;
  display: block;
  background-color: var(--accent);
  color: var(--bg);
  display: Flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border-radius: 5px;
  transition: rotate 0.3s, scale 0.3s, filter 0.3s;
}

div.page.project-details
  > div.screenshot
  > div.links
  a.material-icons-round:hover {
  filter: brightness(1.2);
  scale: 1.15;
  rotate: 6deg;
}

div.page.project-details
  > div.screenshot
  > div.links
  a.material-icons-round:active {
  scale: 0.95;
  rotate: -6deg;
  filter: brightness(0.9) !important;
}

div.page.project-details p.discontinued {
  margin-bottom: 30px;
  font-weight: bold;
}

div.page.project-details div.breadcrumbs {
  margin-top: 30px;
  margin-bottom: 30px;
}

div.page.project-details div.breadcrumbs span + span::before {
  content: "> ";
  opacity: 0.5;
}

div.page.project-details div.main-content div.links {
  margin-top: 30px;
}

div.page.project-details p.more {
  margin-top: 30px;
  margin-bottom: 60px;
}

div.page.project-details div.main-content {
  line-height: 30px;
}

div.page.project-details div.main-content h1 {
  font-size: var(--medium-header);
  margin-bottom: 20px;
  color: var(--accent);
  margin-top: 0;
}

div.page.project-details div.main-content p,
div.page.project-details div.main-content ul {
  margin-bottom: 20px;
}

div.page.project-details hr {
  margin: 20px 0 !important;

  border: var(--grayed) 1px solid;
}

@media screen and (max-width: 820px) {
  div.page.project-details div.screenshot {
    margin: 0;
    border-radius: 0;
    border: none;
    outline: none;
    border-top: #222 2px solid;
    border-bottom: #222 2px solid;
    aspect-ratio: 16/11;
    margin-bottom: 20px;
    max-width: unset;
  }

  div.page.project-details div.screenshot div.links {
    display: none;
  }

  div.page.project-details {
    position: absolute;
    left: 0;
    height: calc(100% - 92px);
  }

  div.page.project-details div.main-content {
    padding: 20px;
  }

  div.page.project-details div.breadcrumbs {
    margin-top: 0;
  }
}

@media screen and (max-width: 350px) {
  div.page.project-details div.screenshot {
    display: none;
  }
}
