div.page.about {
  padding-top: 80px;
}

div.page.about > * {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 50vw;
}

div.page.about a.projects {
  display: block;
  width: fit-content;
}

div.page.about > p {
  margin-bottom: 60px;
  line-height: 30px;
}
div.page.about > h2 {
  font-size: var(--medium-header);
  margin-bottom: 20px;
}

div.page.about div.skills {
  margin-top: 30px;
  margin-bottom: 60px;
}

div.page.about div.skills div.skill {
  margin-bottom: 20px;
}

div.page.about div.skills div.skill h5 {
  line-height: 30px;
  font-size: var(--medium-text-size);
  opacity: 0.5;
}

div.page.about div.skills p.disclaimer {
  opacity: 0.5;
  margin-top: 30px;
}

@media screen and (max-width: 1200px) {
  div.page.about > * {
    max-width: unset;
  }
  div.page.about {
    padding-top: 10px;
  }

  div.page.about > p {
    margin-bottom: 40px;
  }

  div.page.about > h2 {
    margin-bottom: 20px;
  }
}
