div.page.arc-5y {
  padding-top: 60px;
}

div.page.arc-5y > * {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 800px;
}

div.page.arc-5y > h1 {
  color: var(--accent);
  margin-bottom: 20px;
  font-size: var(--large-header);
}

div.page.arc-5y > p {
  margin-bottom: 40px;
  line-height: 30px;
}

div.page.arc-5y div.markdown-renderer {
    padding: 0 !important;
}

@media screen and (max-width: 1200px) {
  div.page.arc-5y {
    padding-top: 10px;
    margin-bottom: 20px;
  }

  div.page.arc-5y > * {
    width: 100%;
  }
}
