div.page.contact h1 {
  font-size: var(--large-header);
  color: var(--accent);
  text-align: center;
  margin-top: 40px;
  margin-bottom: 30px;
}

div.page.contact div.contact-panes {
  width: 100%;
  max-width: 860px;
  display: flex;
  margin: 0 auto;
  border-bottom: var(--grayed) 1px solid;
}

div.page.contact div.contact-panes > div.pane {
  padding: 30px;
  width: 50%;
  min-width: 50%;
}

div.page.contact div.contact-panes section:not(:last-child) {
  margin-bottom: 30px;
}

div.page.contact div.contact-panes section h3 {
  font-size: var(--small-header);
  color: var(--accent);
}

div.page.contact div.contact-panes section a {
  color: var(--fg);
}

div.page.contact div.contact-panes div.links {
  border-right: var(--grayed) 1px solid;
}

div.page.contact div.contact-panes div.links * {
  text-align: right;
}
div.page.contact div.contact-panes a.contact-direct {
  display: block;
  height: 40px;
  padding: 0 20px;
  width: fit-content;
  line-height: 40px;
  border-radius: 20px;
  text-decoration: none;
  font-weight: bold;
  background-color: var(--accent);
  color: var(--bg);
  margin-top: 30px;
}

div.page.contact div.direct {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 0 30px;
}

div.page.contact div.direct p {
  margin-bottom: 30px;
}

div.page.contact div.direct input,
div.page.contact div.direct textarea {
  width: 100%;
  display: block;
  padding: 10px 20px;
  font-family: inherit;
  font-size: inherit;
  border: none;
  border: var(--grayed) 2px solid;
  background-color: var(--bg);
  margin-bottom: 20px;
  border-radius: 6px;
  outline: none;
  color: var(--fg);
}

div.page.contact div.direct textarea {
  min-height: 4em;
  min-width: 540px;
  max-width: 540px;
}

div.page.contact div.direct input[type="submit"] {
  background-color: var(--accent);
  border: none;
  font-weight: bold;
  padding: 15px 0;
  color: var(--bg);
}

div.page.contact div.direct input[type="submit"]:disabled {
  opacity: 0.5;
}

div.page.contact div.direct h2 {
  color: var(--accent);
}

@media screen and (max-width: 700px) {
  div.page.contact h1 {
    text-align: left;
    margin: 10px 0;
  }
}

@media screen and (max-width: 900px) {
  div.page.contact div.contact-panes {
    flex-direction: column;
    max-width: unset;
    width: 100%;
  }

  div.page.contact div.contact-panes div.links {
    border-right: none;
    margin-bottom: 20px;
    /* padding-bottom: 30px !important; */
    border-bottom: var(--grayed) 1px solid;
  }

  div.page.contact div.contact-panes div.links * {
    text-align: left;
  }

  div.page.contact div.contact-panes div.pane {
    padding: 0;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
  }

  div.page.contact div.direct {
    margin: 0;
    padding: 0;
    width: 100%;
  }
  div.page.contact div.contact-panes section:last-child {
    margin-bottom: 30px;
  }

  div.page.contact div.contact-panes section:not(:last-child) {
    margin-bottom: 20px;
  }

  div.page.contact div.direct textarea {
    min-width: 100%;
    max-width: 100%;
  }
}
