div.page.error {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  padding: 30px;
}

div.page.error > h1 {
  font-size: var(--hero-header);
  font-weight: normal;
  text-align: center;
  color: var(--accent);
}
