div.page.home {
  display: flex;
  flex-direction: column;
  pointer-events: none;
  padding: 0 30px;
}

div.page.home div.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-grow: 1;
  gap: 10px;
}

div.page.home footer {
  width: 100%;
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.4;
}

div.page.home footer * {
  vertical-align: middle;
}

div.page.home svg.animated-logo {
  width: 100%;
  height: 128px;
  margin-bottom: 20px;
}

div.page.home svg.animated-logo .animation-target {
  stroke-dasharray: 1140;
  stroke-dashoffset: 1140;
  animation: dash 3s 500ms linear forwards, fill 200ms 3.5s linear forwards;
  stroke: var(--accent);
  fill: transparent;
}

div.page.home * {
  pointer-events: initial;
}

div.page.home h1 {
  font-size: var(--hero-header);
  font-weight: normal;
  text-align: center;
}

div.page.home .word-wrapper.accent {
  text-shadow: 0 0 0.5em currentColor;
}

div.page.home .word-wrapper {
  transition: text-shadow 0.3s, filter 0.3s;
}

div.page.home .word-wrapper:hover {
  filter: brightness(1.4);
}

@media screen and (prefers-color-scheme: light) {
  div.page.home .word-wrapper.accent {
    text-shadow: 0 0 0.6em currentColor;
  }

  div.page.home .word-wrapper:hover {
    filter: brightness(1.2);
  }
}

div.page.home p.subtitle {
  opacity: 0.5;
  z-index: -1 !important;
  position: relative;
  font-size: var(--small-header);
  text-align: center;
  max-width: 700px;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes fill {
  from {
    fill: transparent;
  }
  to {
    fill: var(--accent);
  }
}
