div.page.new-projects {
  padding-top: 80px;
}

div.page.new-projects > * {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 700px;
}

div.page.new-projects > h1 {
  color: var(--accent);
  margin-bottom: 20px;
  font-size: var(--large-header);
}

div.page.new-projects > h1 .beta-tag {
  font-size: var(--normal-text-size);
  padding: 0 10px;
  height: 30px;
  display: inline-block;
  line-height: 30px;
  border-radius: 20px;
  background-color: var(--red);
  color: var(--bg);
  margin-left: 15px;
}

div.page.new-projects > p {
  margin-bottom: 40px;
  line-height: 30px;
}

div.page.new-projects div.project {
  width: calc(100% - 4px);
  aspect-ratio: 16/9;
  background: linear-gradient(
      to bottom,
      #0000 0%,
      #0000 25%,
      var(--bg) 85%,
      var(--bg) 100%
    ),
    var(--background);
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  display: flex;
  justify-content: end;
  flex-direction: column;
  padding: 25px;
  outline: #fff2 2px solid !important;
  margin-bottom: 30px;
}

div.page.new-projects div.project div.info > h1 {
  color: var(--accent);
}

div.page.new-projects div.project div.info > p.description {
  margin: 10px 0;
}

div.page.new-projects div.project div.info > p.date {
  opacity: 0.5;
}

div.page.new-projects div.project.colored {
  outline: var(--border) 2px solid !important;
  background: linear-gradient(
      to bottom,
      var(--gradient-transparent) 0%,
      var(--gradient-transparent) 25%,
      var(--gradient-color) 85%,
      var(--gradient-color) 100%
    ),
    var(--background);
  background-size: cover;
  background-position: center;
  --fg: var(--text-color);
}

div.page.new-projects div.project.colored p {
  color: var(--fg);
}

div.page.new-projects div.project.colored * {
  --fg: var(--text-color);
}

@media screen and (max-width: 1200px) {
  div.page.new-projects {
    padding-top: 10px;
    margin-bottom: 20px;
  }

  div.page.new-projects div.project {
    aspect-ratio: 3/4;
  }
}
