.bold {
  font-weight: bold;
}

.accent,
.accent-fg {
  color: var(--accent);
}

.accent-bg {
  background-color: var(--accent);
}

.accent-hover:hover {
  background-color: var(--accent);
}

.accent-hover-fill:hover {
  fill: var(--accent);
}

.grayed {
  opacity: 0.5;
  z-index: -1 !important;
  position: relative;
}
