header {
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  height: 72px;
  z-index: 200000;
}

header > svg {
  width: 32px;
  height: 32px;
}

header div.desktop-nav-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: inherit;
  display: flex;
  justify-content: center;
  pointer-events: none;
}

nav li {
  list-style: none;
}

nav.desktop-nav ul {
  display: flex;
  height: 72px;
  gap: 60px;
  align-items: center;
  pointer-events: initial;
}

nav.desktop-nav a {
  text-decoration: none;
  color: var(--fg);
  display: block;
  height: fit-content;
  transition: scale 0.2s, color 0.2s;
}

nav.desktop-nav a:hover {
  color: var(--accent);
  scale: 1.07;
  text-decoration: underline;
  filter: none;
}

nav.desktop-nav a.active {
  font-weight: bold;
  color: var(--accent);
}

header button.sidebar-toggle {
  margin-left: auto;
  background-color: transparent;
  border: none;
  color: var(--fg);
  font-size: 24px;
  display: none;
}

div.mobile-nav-wrapper {
  display: none;
}

div.language-toggle {
  display: flex;
  gap: 10px;
}

nav.desktop-nav div.language-toggle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 72px;
  justify-content: end;
  align-items: center;
  pointer-events: none;
}

div.mobile-nav-wrapper div.language-toggle {
  position: fixed;
  bottom: 20px;
  left: 20px;
}

div.mobile-nav-wrapper div.language-toggle > * {
  opacity: 1;
  color: var(--bg);
}

div.mobile-nav-wrapper div.language-toggle button.selected {
  text-decoration: underline;
  font-weight: bold;
  color: var(--bg);
}

div.language-toggle > * {
  background-color: transparent;
  color: var(--fg);
  border: none;
  font-family: inherit;
  font-size: inherit;
  pointer-events: initial;
  opacity: 0.5;
}

div.language-toggle > button:hover {
  opacity: 1;
}

div.language-toggle > button.selected {
  opacity: 1;
  color: var(--accent);
}

@media screen and (max-width: 750px) {
  header {
    background-color: transparent;
  }
  header div.desktop-nav-wrapper {
    display: none;
  }

  header button.sidebar-toggle {
    display: block;
  }

  header.nav-opened * {
    color: var(--fg) !important;
    fill: var(--fg);
  }

  header.nav-opened > svg {
    --accent: var(--fg) !important;
    --grayed: var(--fg) !important;
  }

  header svg,
  header button.sidebar-toggle {
    z-index: 1000000;
  }
  div.mobile-nav-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--accent);
    display: flex;
    justify-content: center;
    align-items: center;
    translate: 100% 0;
    pointer-events: none;
    transition: translate 0.3s, opacity 0.3s;
    z-index: 100000;
  }

  div.mobile-nav-wrapper.show {
    translate: 0 0;
    pointer-events: initial;
  }

  div.mobile-nav-wrapper a {
    color: var(--bg);
    display: block;
    font-size: var(--hero-header);
    text-align: center;
    margin-bottom: 20px;
  }
}
