@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons+Round");
@import url("https://unpkg.com/lucide-static@latest/font/lucide.css");
@import url("./root.css");
@import url("./classes.css");
@import url("./pages.css");
@import url("./headerbar.css");
@import url("./mouseglow.css");
@import url("./progwrite.css");
@import url("./markdown.css");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  display: none;
}

html,
body,
main {
  width: 100%;
  height: 100%;
}

body {
  background: var(--bg-gradient);
  color: var(--fg);
  font-size: var(--normal-text-size);
  font-family: "Fira Mono";
  padding: 20px 40px;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(var(--fg) 0.1vw, transparent 0);
  background-size: 5vw 5vw;
  background-position: 0 0;
  opacity: 0.15;
  pointer-events: none;
  z-index: -1;
}

div.container {
  height: calc(100% - 72px);
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Space Mono";
}

a {
  color: var(--accent);
  text-underline-offset: 5px;
  transition: filter 0.3s;
}

a:hover {
  filter: brightness(1.3);
}

a:active {
  filter: brightness(0.9);
}

ul {
  padding-left: 30px;
}

ul li {
  padding-left: 10px;
}

body:has(a:hover) div.mouse-glow,
body:has(button:hover) div.mouse-glow {
  scale: 10%;
  opacity: 0.3;
  background-color: var(--bg);
  background: none;
  border: var(--accent) 40px solid !important;
  border-radius: 50%;
}

body:has(a:hover:active) div.mouse-glow,
body:has(button:hover:active) div.mouse-glow {
  opacity: 1;
  scale: 8%;
}

@media screen and (max-width: 600px) {
  body::before {
    background-size: 10vw 10vw;
    background-image: radial-gradient(var(--fg) 0.2vw, transparent 0);
  }
}

@media screen and (max-width: 300px) {
  body::before {
    background-size: 20vw 20vw;
    background-image: radial-gradient(var(--fg) 0.5vw, transparent 0);
  }
}

@media screen and (max-width: 820px) {
  body {
    padding: 0 20px;
    padding-bottom: 20px;
  }
}
