div.markdown-renderer h2,
div.markdown-renderer h3,
div.markdown-renderer h4,
div.markdown-renderer h5,
div.markdown-renderer h6 {
  margin-bottom: 20px;
  color: var(--accent);
}

div.markdown-renderer p,
div.markdown-renderer ul {
  margin-bottom: 30px;
}

div.markdown-renderer {
  line-height: 30px;
}

div.markdown-renderer h1 {
  font-size: var(--medium-header);
  margin-bottom: 20px;
  color: var(--accent);
  margin-top: 0;
}

div.markdown-renderer hr {
  margin: 20px 0 !important;

  border: var(--grayed) 1px solid;
}

div.markdown-renderer code {
    background-color: #fff2;
    padding: 2px 4px;
    border-radius: 4px;
}

div.markdown-renderer blockquote {
    border-left: var(--accent) 5px solid;
    padding: 5px 20px;
    padding-right: 0;
    margin-bottom: 20px;
}
div.markdown-renderer blockquote > p{
    opacity: 0.5;
}

div.markdown-renderer blockquote p:last-child {
    margin-bottom: 0;
}