div.mouse-glow {
  position: fixed;
  top: var(--y);
  left: var(--x);
  width: 600px;
  height: 600px;
  background: radial-gradient(var(--accent) 0%, #0000 60%);
  background-size: cover;
  background-position: center;
  translate: -300px -300px;
  opacity: 0.1;
  z-index: -1;
  pointer-events: none;
  display: none;
}

div.mouse-glow.show {
  display: block;
}

button:hover,
a:hover,
h2:hover,
h3:hover,
h4:hover,
h5:hover {
  filter: brightness(1.2) !important;
}
