div.mouse-glow {
  position: fixed;
  top: var(--y);
  left: var(--x);
  width: 400px;
  height: 400px;
  background: radial-gradient(var(--accent) 0%, #0000 60%);
  background-size: cover;
  background-position: center;
  translate: -200px -200px;
  opacity: 0.1;
  filter: brightness(1.2);
  z-index: -1;
  pointer-events: none;
}

button:hover,
a:hover,
h2:hover,
h3:hover,
h4:hover,
h5:hover {
  filter: brightness(1.2) !important;
}
