@import url("./pages/home.css");
@import url("./pages/error.css");
@import url("./pages/about.css");
@import url("./pages/projects.css");
@import url("./pages/projects/details.css");
@import url("./pages/contact.css");
@import url("./pages/workshop.css");
@import url("./pages/arc5y.css");

div.page {
  width: 100%;
  height: 100%;
  overflow-y: auto;
}
