span.progressive-writer {
  overflow-wrap: anywhere;
  display: block;
  height: fit-content;
}

span.progressive-writer * {
  display: inline;
  vertical-align: middle;
}

span.progressive-writer .link {
  cursor: pointer;
  text-decoration: underline 2px;
  text-underline-offset: 4px;
  text-decoration-color: var(--grayed);
}

span.progressive-writer.blinker:has(span)::after {
  content: "#";
  overflow: hidden;
  display: inline-block;
  width: 2px;
  font-size: inherit;
  background-color: var(--fg);
  vertical-align: middle;
  animation: blink 1s steps(2) infinite;
}

div.hidden {
  opacity: 0;
  pointer-events: none;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
}
